<div class="layout">

    <!-- Sidebar -->
    <aside class="sidebar">

        <div class="logo">

            <div class="logo-icon">
                ☁
            </div>

            <span>FQCloud</span>

        </div>

        <nav>

            <a
                routerLink="/admin/user-management"
                routerLinkActive="active">

                👥 Quản lý nhân viên

            </a>

            <a
                routerLink="/admin/table-management"
                routerLinkActive="active">

                🍽 Quản lý bàn

            </a>

            <a
                routerLink="/admin/food-management"
                 routerLinkActive="active">

                🍜 Quản lý món ăn

            </a>

            <a
                routerLink="/admin/revenue"
                routerLinkActive="active">

                📈 Doanh thu

            </a>

        </nav>

    </aside>


    <!-- Nội dung -->
    <main class="content">

        <div class="topbar">

            <div>

                <small>NHÂN SỰ F-CLOUD</small>

                <h1>Danh sách nhân viên</h1>

                <p>Tối ưu hóa quy trình quản lý nhân viên</p>

            </div>


            <div class="topbar-right">

                <button class="notify-btn">
                    🔔
                </button>

                <button
                    class="add-btn"
                    routerLink="/admin/create-employee">

                    👥 + Thêm nhân viên

                </button>

                <div class="admin-info">

                    <div class="avatar">
                        {{ Avatar }}
                    </div>

                    <div class="admin-detail">

                        <strong>{{ FullName }}</strong>

                        <div class="role">
                            {{ Role }}
                        </div>

                        <button
                            class="logout-btn"
                            (click)="logout()">

                            Đăng xuất

                        </button>

                    </div>

                </div>

            </div>

        </div>

        <router-outlet></router-outlet>

    </main>

</div>
